@import "tailwindcss";




@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/fonts/PlaypenSansArabic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Lemonada';
  src: url('/fonts/Lemonada.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: 'Playpen Sans Arabic','Lemonada', 'Tajawal', sans-serif;
}

